{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/we-do.css">

    <title>Up. - O que fazemos</title>
{% endblock head %}

{% block content %}
    <h1>O QUE FAZEMOS</h1>

    <div id="business-consulting">
        <h2>
            <strong class="normal">Consultoria</strong> <br> <big>EMPRESARIAL <strong>UP</strong></big>
        </h2>

        <p>
            <strong>Pacotes personalizados</strong> para cada cliente, inicialmente elaborado através de diagnóstico
            encontrando as dores do negócio e buscando soluções transformadoras | <strong>Visão Estratégica</strong>
            de posicionamento do negócio | <strong>Criação</strong> ou elucidação de <strong>cultura e
                valores</strong> | Experiência do Cliente | Jornada do Cliente | <strong>Experiência</strong> do
            Colaborador | Jornada do Colaborador | <strong>Liderança</strong> | Elaboração de processos que
            necessitam de fluidez para <strong>resultados</strong> | Habilidades <strong>Comportamentais</strong> e
            Avaliação de <strong>Desempenho</strong> com foco em competências | <strong>Planejamento
                Estratégico</strong> de Atendimento | Gestão de clima <strong>organizacional</strong>
        </p>
    </div>

    <div id="outside-to-inside">
        <h2>
            <big>RH DE <strong>FORA</strong> PARA</big> <br> <strong class="normal">DENTRO
                <strong>UP</strong></strong>
        </h2>

        <p>
            <strong>Acompanhamento</strong> mensal e contínuo do cliente dando andamento a tudo que for implantado
            através dos projetos de <strong>consultoria</strong>, além de mapeamento e elaboração de processos, e
            todas as <strong>atividades</strong> voltadas para a <strong>equipe</strong> com o intuito de
            <strong>potencializar os talentos</strong> e consequentemente gerar <strong>resultados</strong> para a
            empresa | Jornada de <strong>conhecimento</strong> específica para o time em questão
        </p>
    </div>

    <div id="learning-journey">
        <h2>
            <strong class="normal">JORNADA DE <br> <strong>APRENDIZADGEM</strong> UP</strong> <br>
            <big>MINICURSOS</big> <br> <strong>WORKSHOPS</strong> UP
        </h2>

        <p>
            <strong>Marketing</strong> orgânico <br> (Instagram e Whatsapp) <br> Produtividade e <strong>Gestão de
                Tempo</strong> <br> <strong>Vendas</strong> e negociação <br> <strong>Criatividade</strong> e
            Inovação – Transformando ideias em <strong>planos de ação</strong> <br> estruturados
        </p>
    </div>

    <div id="branding">
        <h2>
            <big>MARKETING</big> <br> <strong class="normal"><strong>DIGITAL</strong> E</strong> <br> BRANDING
        </h2>

        <p>
            Inserimos o <strong>negócio</strong> nas redes e meios digitais, estruturamos projetos com planos de
            <strong>ação e estratégias</strong> voltadas para o perfil de cada empresa | Desenvolvemos o
            <strong>branding</strong> de marcas e pessoas para que entendam melhor quem são e possam comunicar seus
            <strong>valores</strong>, se posicionar diante de seus clientes e sua rede e estabelecer conexão com seu
            <strong>propósito</strong> | O <strong>foco principal</strong> é fazer com que a marca estabeleça
            conexão com sua rede, desperte <strong>sensações</strong> que serão cruciais na decisão de compra do
            produto ou serviço
        </p>
    </div>

    <div id="trainings">
        <h2>
            <strong class="normal">JORNADA DE</strong> <br> <big>CONHECIMENTO <strong>UP</strong></big> <br>
            <strong>PALESTRAS</strong> E <br> <big>TREINAMENTOS</big>
        </h2>

        <p>
            <strong>Liderança:</strong> Desenvolvimento de líderes em construção - Os desafios da liderança |
            <strong>Comunicação assertiva</strong> | Relações <strong>interpessoais</strong> | Motivação e Sucesso |
            <strong>Vendas e negociação:</strong> Diferencial em vendas - O futuro das vendas - Vendas Consultivas |
            <strong>Experiência</strong> do cliente: desde o <strong>atendimento</strong> inicial até o pós venda |
            <strong>Experiência</strong> do colaborador | <strong>Produtividade</strong> e Gestão do Tempo |
            <strong>Mindset</strong> e Inteligência Emocional | Gestão de <strong>conflitos</strong> | Criatividade
            e <strong>Inovação:</strong> Transformando <strong>ideias</strong> em planos de <strong>ação</strong>
            estruturados | O <strong>novo</strong> normal - A.C. e D.C.
        </p>
    </div>

    <div id="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=5532999772244" target="_blank">
            <p>Vem dar um up!</p>
            <img src="/assets/whatsapp.png" alt="Logo Whatsapp">
        </a>
    </div>
{% endblock content %}