<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/index.css">

    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/favicon.ico">
    <title>Up. Inovação Corporativa</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="img">
                <a href="/view/index.html">
                    <img src="/public/assets/logo.png" alt="Logo Up">
                </a>
            </div>

            <div class="menu">
                <a class="begin" href="/view/index.html">
                    Início
                </a>

                <a class="we-do" href="/view/we-do.html">
                    O que fazemos
                </a>

                <a class="share" href="">
                    Up Compartilha
                </a>

                <a class="up-se" href="">
                    Up-se
                </a>

                <a class="contact" href="/view/vem-dar-um-up.html">
                    Vem dar um up
                </a>
            </div>

            <div class="midias">
                <a class="face grow" href="https://www.facebook.com/upcompartilha" target="_blank">
                    <img src="/public/assets/face.webp" alt="Facebook">
                </a>

                <a class="bar" href="#">

                </a>

                <a class="insta grow" href="https://www.instagram.com/upcompartilha/" target="_blank">
                    <img src="/public/assets/insta.webp" alt="Instagram">
                </a>

                <a class="bar" href="#">

                </a>

                <a class="linked" href="https://www.linkedin.com/company/upcompartilha/" target="_blank">
                    <img class="grow" src="/public/assets/linked.webp" alt="Linkedin">
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="logo">
            <img src="/public/assets/logo.png" alt="Logo Up">

            <h1>Inovação Corporativa</h1>
        </div>

        <div id="about">
            <h1>QUEM SOMOS</h1>

            <div class="about">
                <div class="about-p">
                    <p>
                        Somos uma empresa de <big>aprendizagem corporativa</big> que busca o <big>crescimento</big> e a
                        <big>diferenciação dos negócios</big>
                        através das <big>pessoas.</big>
                        Usamos como ferramenta de trabalho a <big>cocriação</big> de projetos de consultoria
                        <big>personalizados,</big> treinamentos,
                        palestras, dinâmicas e workshops interativos. <br>
                        Desenvolvemos, implantamos e acompanhamos projetos de desenvolvimento do negócio, elucidação de
                        <big>cultura</big>
                        e <big>valores,</big> <big>performance</big> da equipe de colaboradores e líderes e marketing
                        digital e <big>branding.</big>
                    </p>
                </div>

                <img src="/public/assets/quem-somos.svg" alt="Quem somos">
            </div>
        </div>

        <div id="curriculo">
            <div class="gabi">
                <img src="/public/assets/gabi.jpg" alt="Gabriela Oliveira">

                <p>
                    <big>GABRIELA OLIVEIRA</big> tem uma trajetória de trabalho que a fez uma verdadeira vendedora,
                    por isso o
                    amor por ensinar as pessoas a arte de vender e encantar o cliente. Seu objetivo nessa jornada da
                    vida é fazer com que o outro descubra seu verdadeiro propósito e sinta felicidade em seu trabalho.
                    Graduada em Administração de Empresas e com MBA em Marketing e Negócios, tem vasta experiência e
                    cursos em vendas, pós vendas, análise de mercado, serviços, produtos e liderança empreendedora. Tem
                    uma paixão por pessoas e se dedica a estudar como potencializar o outro a fim de construir um mundo
                    em que se possa ser mais feliz no trabalho e na carreira.
                </p>
            </div>

            <div class="lu">
                <p>
                    <big>LUÍSA REZENDE</big> é vendedora por paixão e se conectar com pessoas é o seu chamado. Acredita
                    que só vale a
                    pena fazer algo se for bom para ela, para os outros e para o mundo! Trabalhar é uma felicidade e
                    ajudar
                    as pessoas a encontrar o “brilho no olho” também! É uma estudiosa sobre experiência do cliente,
                    liderança e vendas. No seu currículo tem formação em Administração de Empresas, Coaching pela
                    Associação
                    Brasileira de Coaching, PNL pela Superare, além de cursos e livros da área.
                </p>

                <img src="/public/assets/lu.jpg" alt="Luisa Rezende">
            </div>
        </div>

        <div id="we-do">
            <h1>NOSSO <big>"PORQUÊ"</big></h1>

            <p>
                <big>Potencializar</big> empresas e pessoas a fim de que possam gerar uma <big>experiência</big>
                incrível para seus clientes,
                se tornando um negócio de <big>sucesso</big> e proporcionando <big>benefícios orgânicos</big> para a
                sociedade. 
            </p>
        </div>

        <div id="we-believe">
            <img src="/public/assets/acreditamos.png" alt="O que acreditamos">
        </div>

        <!-- <div id="testimonials">
            <h1>DEPOIMENTOS</h1>

            <div class="cards">
                <div class="card jean">
                    <p>
                        <big>"</big>Vi que qualquer um é capaz de fazer, <big>não importa a posição.</big><big>"</big>
                    </p>
                    <p>
                        <strong>Jean Monteiro</strong> <br> Rocketseat
                    </p>
                </div>

                <div class="card vivian">
                    <p>
                        <big>"</big>Achei sensacional a mescla dos facilitadores,<big>são tipos diferentes de abordagem</big> que se complementam e é muito atual.<big>"</big>
                    </p>
                    <p>
                        <strong>Vivian Moreira</strong> <br> Porto Business
                    </p>
                </div>
            </div>
        </div> -->
    </main>

    <footer>
        <div class="social-medias">
            <a class="face" href="https://www.facebook.com/upcompartilha" target="_blank">
                <img src="/public/assets/facebook-color.png" alt="Facebook">
            </a>

            <a class="insta" href="https://www.instagram.com/upcompartilha/" target="_blank">
                <img src="/public/assets/instagram-color.png" alt="Instagram">
            </a>

            <a class="linked" href="https://www.linkedin.com/company/upcompartilha/" target="_blank">
                <img src="/public/assets/linkedin-color.png" alt="Linkedin">
            </a>
        </div>

        <div class="city">
            <p>Juiz de Fora - MG</p>
        </div>

        <div class="email">
            <a href="mailto:oi@queroumup.com">
                oi@queroumup.com
            </a>
        </div>

        <div class="tel">
            <a class="tel1" href="tel:(32)98703-1737">
                (32)98703-1737
            </a>

            <a class="tel2" href="tel:(32)99977-2244">
                (32)99977-2244
            </a>
        </div>
    </footer>

</body>

</html>