<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/we-do.css">

    <link rel="shortcut icon" type="image/x-icon" href="public/assets/favicon.ico">
    <title>Up. Transformação Empresarial e Aprendizagem Contínua</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="img">
                <a href="/view/index.html">
                    <img src="/public/assets/logo.png" alt="Logo Up">
                </a>
            </div>

            <div class="menu">
                <a class="begin" href="/view/index.html">
                    Início
                </a>

                <a class="we-do" href="/view/we-do.html">
                    O que fazemos
                </a>

                <a class="share" href="">
                    Up Compartilha
                </a>

                <a class="up-se" href="">
                    Up-se
                </a>

                <a class="contact" href="/view/vem-dar-um-up.html">
                    Vem dar um up
                </a>
            </div>

            <div class="midias">
                <a class="face grow" href="https://www.facebook.com/upcompartilha" target="_blank">
                    <img src="/public/assets/face.webp" alt="Facebook">
                </a>

                <a class="bar" href="#">

                </a>

                <a class="insta grow" href="https://www.instagram.com/upcompartilha/" target="_blank">
                    <img src="/public/assets/insta.webp" alt="Instagram">
                </a>

                <a class="bar" href="#">

                </a>

                <a class="linked" href="https://www.linkedin.com/company/upcompartilha/" target="_blank">
                    <img class="grow" src="/public/assets/linked.webp" alt="Linkedin">
                </a>
            </div>
        </div>
    </header>

    <main>
        <h1>O que fazemos</h1>

        <div id="business-consulting">
            <h2>
                <strong class="normal">Consultoria</strong> <br> <big>EMPRESARIAL <strong>UP</strong></big>
            </h2>

            <p>
                <strong>Pacotes personalizados</strong> para cada cliente, inicialmente elaborado através de diagnóstico
                encontrando as dores do negócio e buscando soluções transformadoras | <strong>Visão Estratégica</strong>
                de posicionamento do negócio | <strong>Criação</strong> ou elucidação de <strong>cultura e
                    valores</strong> | Experiência do Cliente | Jornada do Cliente | <strong>Experiência</strong> do
                Colaborador | Jornada do Colaborador | <strong>Liderança</strong> | Elaboração de processos que
                necessitam de fluidez para <strong>resultados</strong> | Habilidades <strong>Comportamentais</strong> e
                Avaliação de <strong>Desempenho</strong> com foco em competências | <strong>Planejamento
                    Estratégico</strong> de Atendimento | Gestão de clima <strong>organizacional</strong>
            </p>
        </div>

        <div id="outside-to-inside">
            <h2>
                <big>RH DE <strong>FORA</strong> PARA</big> <br> <strong class="normal">DENTRO
                    <strong>UP</strong></strong>
            </h2>

            <p>
                <strong>Acompanhamento</strong> mensal e contínuo do cliente dando andamento a tudo que for implantado
                através dos projetos de <strong>consultoria</strong>, além de mapeamento e elaboração de processos, e
                todas as <strong>atividades</strong> voltadas para a <strong>equipe</strong> com o intuito de
                <strong>potencializar os talentos</strong> e consequentemente gerar <strong>resultados</strong> para a
                empresa | Jornada de <strong>conhecimento</strong> específica para o time em questão
            </p>
        </div>

        <div id="learning-journey">
            <h2>
                <strong class="normal">JORNADA DE <br> <strong>APRENDIZADGEM</strong> UP</strong> <br>
                <big>MINICURSOS</big> <br> <strong>WORKSHOPS</strong> UP
            </h2>

            <p>
                <strong>Marketing</strong> orgânico <br> (Instagram e Whatsapp) <br> Produtividade e <strong>Gestão de
                    Tempo</strong> <br> <strong>Vendas</strong> e negociação <br> <strong>Criatividade</strong> e
                Inovação – Transformando ideias em <strong>planos de ação</strong> <br> estruturados
            </p>
        </div>

        <div id="branding">
            <h2>
                <big>MARKETING</big> <br> <strong class="normal"><strong>DIGITAL</strong> E</strong> <br> BRANDING
            </h2>

            <p>
                Inserimos o <strong>negócio</strong> nas redes e meios digitais, estruturamos projetos com planos de
                <strong>ação e estratégias</strong> voltadas para o perfil de cada empresa | Desenvolvemos o
                <strong>branding</strong> de marcas e pessoas para que entendam melhor quem são e possam comunicar seus
                <strong>valores</strong>, se posicionar diante de seus clientes e sua rede e estabelecer conexão com seu
                <strong>propósito</strong> | O <strong>foco principal</strong> é fazer com que a marca estabeleça
                conexão com sua rede, desperte <strong>sensações</strong> que serão cruciais na decisão de compra do
                produto ou serviço
            </p>
        </div>

        <div id="trainings">
            <h2>
                <strong class="normal">JORNADA DE</strong> <br> <big>CONHECIMENTO <strong>UP</strong></big> <br>
                <strong>PALESTRAS</strong> E <br> <big>TREINAMENTOS</big>
            </h2>

            <p>
                <strong>Liderança:</strong> Desenvolvimento de líderes em construção - Os desafios da liderança |
                <strong>Comunicação assertiva</strong> | Relações <strong>interpessoais</strong> | Motivação e Sucesso |
                <strong>Vendas e negociação:</strong> Diferencial em vendas - O futuro das vendas - Vendas Consultivas |
                <strong>Experiência</strong> do cliente: desde o <strong>atendimento</strong> inicial até o pós venda |
                <strong>Experiência</strong> do colaborador | <strong>Produtividade</strong> e Gestão do Tempo |
                <strong>Mindset</strong> e Inteligência Emocional | Gestão de <strong>conflitos</strong> | Criatividade
                e <strong>Inovação:</strong> Transformando <strong>ideias</strong> em planos de <strong>ação</strong>
                estruturados | O <strong>novo</strong> normal - A.C. e D.C.
            </p>
        </div>

    </main>

    <footer>
        <div class="social-medias">
            <a class="face" href="https://www.facebook.com/upcompartilha" target="_blank">
                <img src="/public/assets/facebook-color.png" alt="Facebook">
            </a>

            <a class="insta" href="https://www.instagram.com/upcompartilha/" target="_blank">
                <img src="/public/assets/instagram-color.png" alt="Instagram">
            </a>

            <a class="linked" href="https://www.linkedin.com/company/upcompartilha/" target="_blank">
                <img src="/public/assets/linkedin-color.png" alt="Linkedin">
            </a>
        </div>

        <div class="city">
            <p>Juiz de Fora - MG</p>
        </div>

        <div class="email">
            <a href="mailto:oi@queroumup.com">
                oi@queroumup.com
            </a>
        </div>

        <div class="tel">
            <a class="tel1" href="tel:(32)98703-1737">
                (32)98703-1737
            </a>

            <a class="tel2" href="tel:(32)99977-2244">
                (32)99977-2244
            </a>
        </div>
    </footer>

</body>

</html>